@import "sweetalert2/src/sweetalert2.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .placeholder-semibold::placeholder {
    font-weight: 700;
  }
  .own-chat-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 28px solid #6001e1;
    border-right: 36px solid transparent;
    bottom: 0;
    right: -20px;
  }
  .friend-chat-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 28px solid #f1f4fa;
    border-left: 36px solid transparent;
    bottom: 0;
    left: -20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
